/* Reset & Common styles */
body,
ul,
h1,
h2,
h3,
p,
button,
a,
div {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  letter-spacing: 2px;
  list-style-type: none;
  color: #fff;
}

body {
  background-color: rgb(0, 49, 155);
  background: radial-gradient(
    circle,
    rgba(0, 49, 155, 1) 0%,
    rgba(0, 65, 204, 1) 100%
  );
  overflow: hidden;
}

button {
  padding: 10px 30px;
  margin: 40px auto 0;
  font-size: 1em;
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50px;
  opacity: 0.7;
  cursor: pointer;
}

.container {
  margin: 100px auto 40px;
  max-width: 300px;
}

.container h3 {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.container li {
  padding: 10px;
  cursor: pointer;
}

/* Header */
header {
  display: flex;
  align-items: center;
  padding: 40px;
}

header .title {
  flex-grow: 1;
  margin-left: 20px;
  font-size: 0.6em;
}

header h1 {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

header .pizza-svg {
  width: 80px;
  overflow: visible;
  stroke: #fff;
  stroke-width: 4;
  stroke-linejoin: round;
  stroke-linecap: round;
}

/* Lists */
li span.active {
  font-weight: bold;
}

li span.active::before {
  content: '>';
  display: inline-block;
  position: relative;
  margin-right: 6px;
  top: -2px;
  transform: scale(0.8, 1);
}

/* Pages */
.home h2 {
  margin-bottom: 30px;
  font-size: 2em;
}

.home.container,
.order.container {
  max-width: 800px;
  text-align: center;
}

.home button {
  margin: 30px 20px;
  padding: 15px 30px;
  font-size: 1.6em;
  color: #fff;
  border: 3px solid #fff;
}

.order p {
  margin: 20px auto;
}
